html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #ADAFB6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
  opacity: .5;
  transition: all .4s ease;
}

body .dribbble:hover {
  opacity: 1;
}

body .dribbble img {
  display: block;
  height: 36px;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/*.search {
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease .6s;
  box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.18);
}
.search svg {
  cursor: pointer;
  margin: 20px;
  width: 18px;
  height: 18px;
  display: block;
  color: #000;
  stroke-width: 2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition: all .3s ease .6s;
}
.search > div {
  position: relative;
  width: 0;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.5s;
}
.search > div input {
  font-size: inherit;
  line-height: inherit;
  padding: 0 24px 0 0;
  border: 0;
  display: block;
  outline: none;
  font-family: inherit;
  position: absolute;
  line-height: 20px;
  font-size: 16px;
  background: #fff;
  -webkit-appearance: none;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transition: all 0s ease 0s;
}
.search > div input::-webkit-input-placeholder {
  color: #000;
}
.search > div input:-moz-placeholder {
  color: #000;
}
.search > div input::-moz-placeholder {
  color: #000;
}
.search > div input:-ms-input-placeholder {
  color: #000;
}
.search > div > div {
  white-space: nowrap;
  color: #000;
  display: flex;
}
.search > div > div span {
  line-height: 20px;
  font-size: 16px;
  opacity: 0;
  display: block;
  visibility: hidden;
  -webkit-transform: translate(0, 12px);
          transform: translate(0, 12px);
  transition: all .4s ease;
}
.search > div > div span:nth-child(1) {
  transition-delay: .4s;
}
.search > div > div span:nth-child(2) {
  transition-delay: .2s;
}
.search > div > div span:nth-child(3) {
  transition-delay: 0s;
}
.search.open {
  cursor: default;
  border-radius: 8px;
  transition-delay: 0s;
  box-shadow: 0 10px 36px -2px rgba(0, 0, 0, 0.18);
}
.search.open svg {
  opacity: .4;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition-delay: 0s;
}
.search.open > div {
  transition-delay: 0s;
  width: 200px;
}
.search.open > div > div span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.search.open > div > div span:nth-child(1) {
  transition-delay: .4s;
}
.search.open > div > div span:nth-child(2) {
  transition-delay: .45s;
}
.search.open > div > div span:nth-child(3) {
  transition-delay: .50s;
}
.search.open > div input {
  opacity: 1;
  visibility: visible;
  transition-delay: .75s;
}


.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
